@import '../../../styles/utils';

.wrapper {
  display: flex;
  align-items: center;
  padding: $ob-spacing 0 $ob-spacing $ob-spacing;
  margin-bottom: $ob-spacing;
}

.wrapper:hover {
  @include hover-trans;
}

.label {
  padding-left: $ob-spacing;
}
