<div *ngIf="!hasAccessToken" class="wrapper">
  <div class="text-wrapper">
    <h1 class="title">Good Day, {{ user.name }}!</h1>
    <h4 class="subtitle">Please connect your NatWest accounts to allow us to show detailed information.</h4>
  </div>
  <button mat-flat-button color="primary" (click)="initUIFlow()">Connect Accounts</button>
</div>
<div *ngIf="hasAccessToken">
  <h1 class="title">Account Overview</h1>
  <h4 class="subtitle">This overview shows all accounts you gave access to.</h4>
  <ng-template #loading>
    <mat-spinner color="primary" class="spinner"></mat-spinner>
  </ng-template>
  <div *ngIf="accountsResponse$ | async as accountsResponse; else loading">
    <div class="overview-wrapper">
      <div class="svg-wrapper">
        <app-coins> </app-coins>
      </div>
      <h1 class="mat-display-1 total" [ngClass]="accountsResponse.totalBalance < 0 ? 'alert-negative' : ''">
        {{ accountsResponse.totalBalance }}
      </h1>
      <h4 class="currency">{{ accountsResponse.accounts[0].currency }}</h4>
    </div>
    <h4 class="subtitle">Valuta: {{ dateToday }}</h4>
    <div class="card-container">
      <app-account-card
        *ngFor="let account of accountsResponse.accounts"
        [accountData]="account"
        (click)="navigate(account.accountId)"
      ></app-account-card>
    </div>
  </div>
</div>
