<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpen" class="sidenav">
    <div class="header-logo">
      <div class="logo-display">
        <app-splash-logo></app-splash-logo>
      </div>
    </div>
    <div class="sidenav-list" *ngFor="let navItem of navItems">
      <app-sidenav-item
        [label]="navItem.label"
        [iconName]="navItem.iconName"
        [route]="navItem.route"
        [isLogout]="!!navItem.isLogout"
      ></app-sidenav-item>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
