<ob-splash-overlay *ngIf="loading"></ob-splash-overlay>
<mat-sidenav-container *ngIf="!loading" class="container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpen" class="sidenav">
    <div class="header-logo">
      <div class="logo-display">
        <ob-splash-logo></ob-splash-logo>
      </div>
      <h1>Oepfelbank</h1>
    </div>
    <div class="sidenav-list" *ngFor="let itemLabel of navItemLabels">
      <ob-sidenav-item [label]="itemLabel"></ob-sidenav-item>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
