@import '../../../styles/utils';

.body,
.container,
.content-wrapper {
  height: 100%;
}

.sidenav {
  width: 11rem;
  padding: 3 * $ob-spacing 0;
  border-right: 1px solid rgb(233, 233, 233);
  background-image: url('../../../assets/background.png');
}

.container {
  background-image: url('../../../assets/background.png');
}

.content-wrapper {
  padding: 10 * $ob-spacing 6 * $ob-spacing;
}

.header-logo {
  @include flex-center;
  width: 100%;
  margin-bottom: 2 * $ob-spacing;
}

.logo-display {
  width: 50px;
}

.icon-display {
  font-size: 30px;
  height: 30px;
  width: 30px;
}
