@import '../../../styles/utils';

.overview-wrapper {
  @include flex-center;
  justify-content: flex-start;
  margin-top: 5 * $ob-spacing;
}

.svg-wrapper {
  width: 40px;
}

.total {
  padding-left: 2 * $ob-spacing;
}

.currency,
.date {
  color: var(--ob-font-secondary);
}

.date {
  padding-bottom: 5 * $ob-spacing;
}

.currency {
  padding-left: 0.5 * $ob-spacing;
  position: relative;
  top: 5px;
}

.alert-negative {
  color: var(--ob-alert-down);
}

.icon-display {
  font-size: 40px;
  height: 40px;
  width: 40px;
}
