@import '../../../styles/utils';

.title {
  font-weight: 600;
}

.subtitle {
  color: var(--ob-font-secondary);
  padding-bottom: 5 * $ob-spacing;
}

.text-wrapper {
  margin-bottom: 5 * $ob-spacing;
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1420px;
}

.holding-container {
  display: flex;
  padding: $ob-spacing 0 0;
  min-width: 550px;
  flex-wrap: wrap;
  gap: 2 * $ob-spacing;
}

@media all and (max-width: 1000px) {
  .holding-container {
    display: block;
    min-width: 0;
  }
}
