<div *ngIf="errorMessage">
  <h4 class="error-message">
    {{ errorMessage }}
  </h4>
  <button mat-fab color="primary" class="back" (click)="triggerNav()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div [hidden]="errorMessage" class="wrapper">
  <table mat-table matSort [dataSource]="dataSource">
    <caption>
      Transactions Overview
    </caption>
    <ng-container matColumnDef="bookingDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.bookingDate }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>
    <ng-container matColumnDef="transactionInfo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Info</th>
      <td mat-cell *matCellDef="let element">{{ element.transactionInfo }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.amount < 0 ? 'alert-negative' : ''">
        {{ element.amount }}
      </td>
    </ng-container>
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
      <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
