@import '../../../../../styles/utils';

.wrapper {
  width: 100%;
}

table {
  width: 100%;
}

.alert-negative {
  color: var(--ob-alert-down);
}

.error-message {
  color: var(--ob-alert-down);
}

.back {
  margin-top: 3 * $ob-spacing;
  &:hover {
    background-color: #000;
  }
}
