@import '../../../../../styles/utils';

.wrapper {
  width: 100%;
}

table {
  @include box-shadow;
  width: 100%;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  padding: $ob-spacing;
}

.alert-negative {
  color: var(--ob-alert-down);
}

.error-message {
  color: var(--ob-alert-down);
}

.back {
  margin-top: 3 * $ob-spacing;
  &:hover {
    background-color: #000;
  }
}
