@import '../../../styles/utils';

.title {
  font-weight: 600;
}

.bottom-container {
  display: flex;
  flex-wrap: wrap;
}

.left-section {
  flex: 1.5;
}

.right-section {
  flex: 1;
  white-space: nowrap;
}

.subtitle {
  color: var(--ob-font-secondary);
  padding-bottom: 5 * $ob-spacing;
}

.back-button {
  margin: 3 * $ob-spacing 0;
}

.spacer {
  width: 30px;
}

@media all and (max-width: 900px) {
  .spacer {
    display: none;
  }
}
