@import '../../../styles/utils';

.logo-wrapper {
  width: 35px;
}

.card {
  @include box-shadow;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  background-color: var(--ob-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2 * $ob-spacing;
  max-width: 400px;
  margin-top: 2 * $ob-spacing;
}

.card:hover {
  @include hover-trans;
}

.currency {
  color: var(--ob-font-secondary);
  padding-left: 0.5 * $ob-spacing;
  position: relative;
  top: 1px;
}

.alert-negative {
  color: var(--ob-alert-down);
}

.no-margin {
  margin: 0;
}

.no-hover {
  &:hover {
    transition: none;
    background-color: #fff;
    cursor: default;
  }
}
