@import 'styles/colors';
@import 'styles/utils';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

p {
  margin: 0 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.mat-step-header {
  &:hover:not([aria-disabled]) {
    background-color: #fff;
  }
}

td {
  &.mat-cell {
    padding: 0 $ob-spacing !important;
  }
}

th {
  &.mat-header-cell {
    padding: 0 $ob-spacing !important;
  }
}
