@import '../../../styles/utils';

.panel {
  @include box-shadow;
  background-color: #fff;
  border-radius: 10px;
}

.icon-display {
  font-size: 25px;
  height: 25px;
  width: 25px;
  margin-right: $ob-spacing;
}

.title,
.currency,
.description {
  color: var(--ob-font-secondary);
}

.title,
.description {
  align-items: center;
}

.currency,
.balance {
  padding-left: 0.5 * $ob-spacing;
}

.balance {
  color: #000;
}

.alert-down {
  color: var(--ob-alert-down);
}

.alert-up {
  color: var(--ob-alert-up);
}
